
<%- include('../partials/header') -%>
    <!-- Header until body tag -->

    <body>
        <!-- Materialize Navbar -->
        <%- include('../partials/navbar') -%>

            <div class="container">
                <!-- form to log in -->
                <br>
                <br>
                <form  autocomplete="off" class="create-update-form" action="/users/login" method="POST">
                    <div class="input-field">
                        <label for="em">Email:</label>
                        <input autocomplete="nope" placeholder="youremail@something.com" type="text" id="emailText" name="email">
                    </div>
                   
                    <div class="input-field">
                        <label for="pass">Password:</label>
                        <input autocomplete="new-password" placeholder="password" type="password" id="passText" name="password">
                    </div>
                
                    <button type="submit">Sign In</button>

                </form>

                    <br>
                    <a href="/register">Don't have an account? Click here To register!</a>
            </div>

            <!-- Sticky Footer -->
            <%- include('../partials/footer') -%>

    <!-- DO NOT TOUCH!!! -->
    </body>
    <script src="/js/app.js"></script>

</html>







